.store{
    margin-top:36px;
    margin-bottom: 48px;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.store .item{
    border:  5px double #b4aeaa;;
    flex: 0 1 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    flex-direction: column;
}
.store .item .img-holder{
    height: 50vh;
    padding: 10px;
}
.store .item img{
        max-height: 100%;
        max-width: 100%;
}
.item-table{
    width: 100%;
    margin: 0 0 024px 0 ;
}
